<mat-card class="alunos-card">
  <mat-card-title>Cadastro de alunos </mat-card-title>
  <mat-card-subtitle>Quantidade de alunos: {{ valor }}</mat-card-subtitle>

  <div class="example-button-row">
    <button (click)="mudarValor()" mat-raised-button color="primary">
      Mudar valor
    </button>
    <button (click)="reiniciarValor()" mat-raised-button color="warn">
      Reiniciar valor
    </button>
    <button (click)="exibirTabela()" mat-raised-button color="accent">
      Exibir tabela
    </button>
  </div>
</mat-card>
